<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {

                document.querySelector('#review').onsubmit = () => {
                    var rate = "";

                    var x = document.getElementsByName("rating")

                    for (let i = 0; i < x.length; i++) {
                        if (x[i].checked === true) {
                            rate = x[i].value
                        }
                    }

                    // Initialize new request
                    const request = new XMLHttpRequest();
                    const comment = document.querySelector('#comment').value;
                    request.open('POST', '/api/submit_review');

                    // Callback function for when request completes
                    request.onload = () => {

                        // Extract JSON data from request
                        const data = JSON.parse(request.responseText);

                        // Update the result div
                        if (data.status === "200") {
                            const contents = ` ${data.info} `
                            document.querySelector('#result').innerHTML = contents;
                        }
                        else if (data.status === "400") {
                            const contents = ` ${data.info} `
                            document.querySelector('#result').innerHTML = contents;
                        }
                        else {
                            document.querySelector('#result').innerHTML = 'There was an error.';
                        }
                    }
                    
                    // Add data to send with request
                    const data = new FormData();
                    data.append('rate', rate)
                    data.append('comment', comment);
                    

                    // Send request
                    request.send(data);
                    return false;
            };
            });
        </script>   
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <form class="form-inline" action="/action_page.php">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-success" type="submit">Search</button>
            <div class = "navbar-nav ml-auto">
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
            </div>
        </form>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <div class="container" >
                        <form id = "review">
                            <h1>Rating</h1>
                            <input name = "rating" value = "1" id = "1"  type="radio" />1
                            <input name = "rating" value = "2" id = "2"  type="radio" />2
                            <input name = "rating" value = "3" id = "3"  type="radio" />3
                            <input name = "rating" value = "4" id = "4"  type="radio" />4
                            <input name = "rating" value = "5" id = "5"  type="radio" />5
                            
                            <br>
                            <br>
                            <div class="form-group">
                                <label for="comment">Comment:</label>
                                <textarea class="form-control" rows="3" id="comment" name="text"></textarea>
                            </div>
                            <button id = "sub" type="submit" class="btn btn-primary" name = 'action' value = "comment">Submit</button>
                        </form>

                        <div id="result"></div>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>