<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {

                document.querySelector('#search').onsubmit = () => {
                    // Initialize new request
                    const request = new XMLHttpRequest();
                    const key = document.querySelector('#searchinp').value;
                    request.open('POST', '/api/search');
                    // Callback function for when request completes
                    request.onload = () => {
                        // Extract JSON data from request
                        const data = JSON.parse(request.responseText);
                        let info = '<h1>searchresults</h1><br>';
                        // Update the result div
                        if (data.success) {
                            for (let i = 0; i < data.books.length; i++) {
                                 info += `<div class="card"> ` +
                                `<div class="card-body"><h3>${data.books[i].Title}</h3> <br>` +
                                `${data.books[i].ISBN} <br>`+
                                `${data.books[i].Author} <br>`+
                                `${data.books[i].Year} <br>` +
                                '<button class="btn btn-success" name = '+data.books[i].ISBN+' onclick = bookpage(this) >viewBook</button>'+
                                `</div> </div>`
                            }
                            document.querySelector('#result1').innerHTML = info
                            
                        }
                    }
                    // Add data to send with request
                    const data = new FormData();
                    console.log("40" + key)
                    data.append('key', key)
                    // Send request
                    request.send(data);
                    return false;
                };
                });

                function bookpage(elem) {
                    document.querySelector('#result').innerHTML = ''
                    const request = new XMLHttpRequest();
                    var ISBN = elem.getAttribute("name")
                    request.open('POST', '/api/bookpage');
                    request.onload = () => { 
                        const data = JSON.parse(request.responseText);

                        if (data.success) {
                            var info = `<br><br> <div class="card"> `+
                                `<div class="card-body"> <h5> Title -- ${data.Title} </h5><br> ISBN -- ${data.ISBN}  <br> Author -- ${data.Author} ` +
                                `<br> Year -- ${data.Year} <br> `
                                
                            if ('revs' in data) {
                                info += `<br> <h5>Ratings and comments</h5>`
                                for (let i = 0; i < data.revs.length; i++) {
                                    info +=  `<br> ${data.revs[i]['Name']} rated ---------  ${data.revs[i]['rate']}` +
                                             `<br> ${data.revs[i]['Name']} commneted ---------  ${data.revs[i]['comm']}`
                                }
                                document.querySelector('#bookpage').innerHTML = info + `</div> </div> `
                            } else {
                                document.querySelector('#bookpage').innerHTML = info + `</div> </div> `
                            }
                            secpage(ISBN)
                        }

                        
                    }
                    const data = new FormData();
                    data.append('ISBN', ISBN)
                    // Send request
                    request.send(data);
                    
                    return false;
                    

                }

            function secpage(ISBN) {
                document.querySelector('#review').innerHTML = '<h1>Rating</h1>' +
                            '<input name = "rating" value = "1" id = "1"  type="radio" />1 '+ 
                            '<input name = "rating" value = "2" id = "2"  type="radio" />2 ' +
                            '<input name = "rating" value = "3" id = "3"  type="radio" />3 ' +
                            '<input name = "rating" value = "4" id = "4"  type="radio" />4 ' +
                            '<input name = "rating" value = "5" id = "5"  type="radio" />5 ' +
                            '<div class="form-group"> ' +
                                '<label for="comment">Comment:</label> ' +
                                '<textarea class="form-control" rows="3" id="comment" name="text"></textarea> ' +
                            '</div> ' +
                            '<button id = "sub" type="submit" class="btn btn-primary" name = "action" value = "comment">Submit</button> ' +
                        '</form> </div> '
                
                        document.querySelector('#review').onsubmit = () => {
                    var rate = "";
                    document.querySelector('#result').innerHTML = ""
                    var x = document.getElementsByName("rating")
                    for (let i = 0; i < x.length; i++) {
                        if (x[i].checked === true) {
                            rate = x[i].value
                        }
                    }
                    // Initialize new request
                    const request = new XMLHttpRequest();
                    const comment = document.querySelector('#comment').value;
                    request.open('POST', '/api/submit_review');
                    // Callback function for when request completes
                    request.onload = () => {
                        // Extract JSON data from request
                        const data = JSON.parse(request.responseText);
                        // Update the result div
                        if (data.status === "200") {
                            const contents = ` Your rating --  ${data.rate} your comment -- ${data.comment} `
                            document.querySelector('#result').innerHTML = contents;
                        }
                        else if (data.status === "400") {
                            const contents = ` Your rating --  ${data.rate} your comment -- ${data.comment} `
                            document.querySelector('#result').innerHTML = contents;
                        }
                        else {
                            document.querySelector('#result').innerHTML = 'There was an error.';
                        }
                        document.querySelector('#review').innerHTML = ''
                    }
                    // Add data to send with request
                    const data = new FormData();
                    data.append('rate', rate)
                    data.append('comment', comment);
                    data.append('ISBN', ISBN)
                    // Send request
                    request.send(data);
                    return false;
            };
            }
        </script>   
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <form class="form-inline" id = "search">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" id = "searchinp">
            <button class="btn btn-success" type="submit" id = "searchbut">Search</button>
            <div class = "navbar-nav ">
                <a class="nav-item nav-link" href="{{ url_for('logout') }}" style="float:right">Logout</a>
            </div>
        </form>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-sm-6" id = "fir">
                    <div id="result1"></div>
                </div>
                <div class="col-sm-6" id = "sec">
                    <div id ="bookpage"></div>
                    <div class = container>
                        <form id = "review"></form>
                <div id="result"></div>
            </div>
        </div>
    </body>
</html>