<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
    
            // By default, submit button is disabled
            document.querySelector('#reg').disabled = true;
            document.querySelector('#log').disabled = true;
    
            // Enable button only if there is text in the input field
            document.querySelector('#username').onkeyup = () => {
                if (document.querySelector("#username").value.length > 0)
                    document.querySelector('#reg').disabled = false;
                else
                    document.querySelector('#reg').disabled = true;
            };

            document.querySelector('#password').onkeyup = () => {
                if (document.querySelector("#password").value.length > 0)
                    document.querySelector('#log').disabled = false;
                else
                    document.querySelector('#log').disabled = true;
            };


        // });
            document.querySelector('#reg').onclick = () => {
                if (validate(document.querySelector('#username').value) && valpass(document.querySelector('#password').value)) {
                    return true;
                } else {
                    return false;
                }
            }

            document.querySelector('#log').onclick = () => {
                if (validate(document.querySelector('#username').value) && valpass(document.querySelector('#password').value)) {
                    return true;
                } else {
                    return false;
                }
            }


            });
            function validate(inp) {
                if (inp.match(/(.+)@(.+){2,}\.(.+){2,}/)) {
                    document.querySelector('#al-msg').innerHTML = ""
                    return true;
                } else {
                    //alert("please enter a valid email address!");    //The pop up alert for a valid email address
                    document.querySelector('#al-msg').innerHTML = "please give a valid email."
                    return false;
                }
            }

            function valpass(inp) {
                if (inp.length >= 6 && inp.match(/[A-Z]/) && inp.match(/[a-z]/) && inp.match(/[0-9]/) && inp.match(/[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/)) {
                    document.querySelector('#al-msg1').innerHTML = ""
                    return true
                } else {
                    // alert("please enter a valid password in which it should consist of one upper case letter, one lower case letter," + 
                    // "one number, one special character and min length should be 6 chars");    //The pop up alert for a valid email address
                    document.querySelector('#al-msg').innerHTML = "please enter a valid password in which it should consist of one upper case letter, one lower case letter," + 
                    "one number, one special character and min length should be 6 chars"
                    return false;
                }
            }


        </script>
    </head>
    <body>
        <form action = "{{ url_for('register')}}", method="POST">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        {% if flag %}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                Username already exists. Please login to continue.
                            </div>
                        {% endif %}

                        {% if flag_1 %}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                Password doesn't match. Please try again.
                            </div>
                        {% endif %}

                        {% if flag_2 %}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                Invalid User. Plesae Register inorder to login.
                            </div>
                        {% endif %}

                        {% if flag_3 %}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                Succesfully registered.
                            </div>
                        {% endif %}
                        
                        <br>

                        <h1>Register/Login</h1>
                        <p>Please fill the form to create a account.</p>
                        <p>If you have already registered please login.</p>
                        <hr>

                        <br>
                        
                        <label for = "username"><b>UserName</b></label>
                        <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username">

                        <br>
                        
                        <label for = "password"><b>Password</b></label>
                        <input type = "password" class="form-control" id="password" placeholder = "Enter password" name = "password">
                        
                        <br>

                        <p id="al-msg">
                        </p>

                        <p id="al-msg1">
                        </p>
                        
                        <hr>
                        <!-- <button type="submit" class="registerbtn">Register</button> -->
                        <button id = "reg"  type="submit" class="btn btn-info" name = "action" value="register">Register</button>
                        <button id = "log" type="submit" class="btn btn-info" name = "action" value = "login" formaction="{{ url_for ('authentication') }}">Login</button>
                        
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </form>
    </body>
</html>