{% extends "layout.html" %}

{% block title %}
    Users
{% endblock %}


{% block body %}
    <h1>All Users</h1>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Registered time</th>
          </tr>
        </thead>
        
        <tbody>
            {% for user in users %}
            <tr>
            
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
{% endblock %}